.chart-container {
  background-color: #eee;
  width: 640px;
  height: 360px;
  border: 1px solid #666;
  overflow-x: scroll;
}

.exchange-rate-chart {
  width: 1280px;
  height: 360px;
  background-color: #ffe;
}